<div class="character-container">
  <img [src]="character.image" alt="{{ character.name }}" />
  <h2>{{ character.name }}</h2>
  <p>Status: {{ character.status }}</p>
  <p>Species: {{ character.species }}</p>
  <p>Gender: {{ character.gender }}</p>
  <p>Origin: {{ character.origin?.name }}</p>
  <p>Location: {{ character.location?.name }}</p>
  <p>First seen in: {{ character.episode[0] }}</p>
  <p class="card-date"> Created in: {{ character.created | date : "longDate" }}</p>
  <button (click)="goBack()">Atrás</button>
</div>
