<div class="container">
  <h1>Api Rick y Morty</h1>
  <div class="card-container">
    <div class="card" *ngFor="let character of data">
      <img
        [src]="character.image"
        alt="{{ character.name }}"
        class="card-image"
      />
      <div class="card-content">
        <h2>{{ character.name }}</h2>
        <p class="card-subtitle">{{ character.gender }}</p>
        <p class="card-date">{{ character.created | date : "longDate" }}</p>
        <a [routerLink]="['/character', character.id]" class="card-link"
          >Ver Detalles</a
        >
      </div>
    </div>
  </div>
</div>
