.container {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.card {
  width: 300px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 15px;
}

.card h2 {
  margin: 10px 0 5px;
  font-size: 1.5em;
}

.card-subtitle {
  color: #888;
  font-size: 1em;
}

.card-date {
  color: #888;
  font-size: 0.8em;
  margin-bottom: 15px;
}

.card-link {
  text-decoration: none;
  color: #00a;
  font-weight: bold;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card-link:hover {
  text-decoration: underline;
}
